/*
Default Color Scheme:
light backgrounds (tan): #FCF9EF
header & footer background (dark blue): #0A2B38
bright text (yellow): #FCD030
medium text/background (blue): #3884A3
icon/attention (pink) : #CF1666

 */

/* styles */
html *
{
    font-family: Georgia,sans-serif;
}
}
body {
    background-color:#F7F0D4;
    color:#0A2B38;
}
footer{
    background-color:#0A2B38;
    color:#FCD030;
}
p {color:#0A2B38;}
h1 {color:#0A2B38;}
h2 {color:#0A2B38;}
h3 {color:#0A2B38;}
h4 {color:#0A2B38;}
h5 {color:#0A2B38;}
h6 {color:#0A2B38;}

a:link {text-decoration: none; color:#FCD030;}
a:visited {text-decoration: none; color:#FCD030;}
a:hover {text-decoration: underline; color:#FCD030;}
a:active {text-decoration: underline; color:#FCD030;}


/* Classes */
.text-responsive {font-size: calc(100% + 1vw + 1vh);}
.card-body {
    min-height: 300px;
    min-width: 300px;
    margin-right: 5px;
}

/* Animations */
@keyframes background {
    0%   {background-image:url(/images/background_1_house.jpg);}
    20%  {background-image:url(/images/background_2_house.jpg);}
    40%  {background-image:url(/images/background_3_house.jpg);}
    60%  {background-image:url(/images/background_4_house.jpg);}
    80%  {background-image:url(/images/background_5_house.jpg);}
    100% {background-image:url(/images/background_1_house.jpg);}
}

header {
    animation-name: background;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}




